Header always add Access-Control-Allow-Origin "*"
Header always add Access-Control-Expose-Headers "content-length,etag"
Header always set Cache-Control "max-age=2419200, public" "expr=%{REQUEST_STATUS} == 204"
Redirect 204 /20211204/cheerpj/lib/accessibility.properties
Redirect 204 /20211204/cheerpj/lib/swing.properties
Redirect 204 /20211204/cheerpj/lib/fonts/badfonts.txt
Redirect 204 /20211204/cheerpj/lib/fonts/LucidaSansRegular.ttf
Redirect 204 /20211204/cheerpj/lib/fonts/fallback
Redirect 204 /20211204/cheerpj/lib/fonts/index.list
Redirect 204 /20211204/cheerpj/lib/ext/localedata.jar
